# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build
/.nb-gradle/
.idea
.settings
.vscode
*database.db
bin
/nbproject

# Ignore Eclipse specific files
.classpath
.project
